.booking-outer-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10em;
  /* border: #d70666 1px solid; */
}
.booking-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80%;
  height: fit-content;
  gap: 4.5em;
  /* border: blue 1px solid; */
}
.current-booking {
  box-shadow: 0 0 5px grey;
  width: 74em;
  min-width: 74em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1.5em;
  border-radius: 0.7em;
  height: fit-content;
  /* border: #d70666 1px solid; */
}
.confirmation-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 5em;
  height: fit-content;
  padding: 1em;
  box-sizing: border-box;
  align-items: center;
}
.confirmation-header > span {
  font-size: 1.2rem;
  font-weight: 600;
}

.confirmation-header > span > u {
  text-transform: capitalize;
}

.booking.heading {
  margin-top: 0;
  font-weight: 600;
  text-decoration: underline;
  /* border: #d70666 1px solid; */
}

.confirmation-container {
  display: flex;
  align-items: center;
  gap: 3em;
  width: 100%;
  height: fit-content;
  flex-direction: column;
}
.confirmation-inner-container {
  font-size: 1.1rem;
  width: 100%;
  /* border: #d70666 1px solid; */
}

.booking-spot-img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 0.7em;
  box-shadow: 3px 3px 3px grey;
}

.booked-spot-description {
  /* text-align: center; */
  padding: 1.5em;
  /* border: black 1px solid; */
}
.booked-spot-name {
  padding: 10px 0px;
  font-size: 22px;
  font-weight: 550;
}
.booked-spot-details {
  /* border: black 1px solid; */
  padding: 10px 0px;
}
.confirmation-booking-info {
  display: flex;
  justify-content: space-between;
  border-top: 0.1px solid rgb(196, 196, 196);
}
.confirmation-left {
  text-align: start;
  font-size: 1.2rem;
  /* border: black 1px solid; */
  padding: 1em;
}
.confirmation-right {
  text-align: end;
  font-size: 1.2rem;
  /* border: black 1px solid; */
  padding: 1em;
}

.cancel-booking-button {
  background: linear-gradient(0.25turn, #e61e4d, #d70666);
  border-radius: 0.5em;
  min-width: 16em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 1em;
  border: none;
  background-color: transparent;
  box-shadow: 1px 1px rgb(128, 128, 128, 0.7);
  margin: 10px 10px;
  /* background-color: rgb(227, 28, 95); */
  color: white;
  width: 200px;
  height: 45px;
  font-size: 15pt;

}

.cancel-booking-button :active {
  transform: scale(0.97);
}

.confirmation-right > span,
.confirmation-left > span {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: rgb(81, 80, 80);
  font-weight: 400;
  /* border: #d70666 1px solid; */
  padding-bottom: 5px;
  padding-top: 5px;
}

.date {
  font-weight: 500;
  text-decoration: underline;
}
