.table-outer-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10em;
}

.table-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 80%;
  height: fit-content;
  gap: 1.5em;
  /* border: 2px solid orange; */
}

.single-booking-container {
  display: flex;
  width: 90%;
  box-shadow: 0 0 4px grey;
  border-radius: 0.7em;
  height: 22em;
  cursor: pointer;
  /* border: 1px solid black; */
}

.single-booking-container:hover {
  background-color: rgb(243, 241, 241);
}

.single-booking-container:hover > div > img {
  opacity: 0.8;
}

.booking-image-container {
  /* border: 1px solid red; */
  min-width: 50%;
  max-width: 50%;
  min-height: 100%;
  max-height: 100%;
}

.single-booking-image {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit:cover;
  border-radius: 0.7em;
}

.booking-content-container {
  /* border: 1px solid blue; */
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em;
}

.spot-name-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spot-name-container > span:first-child {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.2em;
}

.spot-name-container > span:nth-child(2) {
  display: block;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 100;
  text-align: start;
  font-weight: 400;
  color: rgb(183, 183, 183);
}

.user-name {
  text-transform: capitalize;
}

.booking-location {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 0.2em;
  border-bottom: 0.1px solid rgb(216, 215, 215);
}

.booking-total {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.booking-total > span:nth-child(2) {
  color: #028904;
}
.booking-information-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.booking-information-container > div > span:nth-child(2) {
  font-size: 0.9rem;
  font-weight: 300;
}
