.spot-details-outer-container {
  /* border: 2px dashed purple; */
  margin: 10px 10px;
  /* display: flex;
  flex-direction: column; */
  /* padding: 10px; */
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 80px;
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.spot-details-inner-container {
  /* border: 2px dashed rgb(20, 13, 20); */
  margin: auto;
  width: 1000px;
}
.spot-name-container {
  /* border: solid 1px palegreen; */
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin-bottom: 10px;
}
.spot-name-text {
  /* border: 1px dotted palevioletred; */
  margin: 20px 0px;
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 25px;
  font-weight: 500;
}
.reviews-outer-container {
  border-top: 1px solid gray;
}
.spot-detail-sub-bar {
  /* border: 1px solid firebrick; */
  font-weight: 500;
  margin-top: 20px;
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.spot-rating {
  /* border: 1px solid hotpink; */
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.spot-numReviews {
  /* border: 1px solid navy; */
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.spot-sub-bar-info {
  /* border: 1px dotted rgb(50, 229, 71); */
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.spot-image-container {
  /* border: 2px solid slateblue; */
  margin-top: 0px;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spot-img {
  /* border: 1px darkred dashed; */
  margin-top: 15px;
  /* height: 95%;
  width: 95%; */
  /* height: 480px;
  width: 520px; */
  border-radius: 10px;
  margin: auto;
}
.spot-img > img {
  /* height: 480px;
  width: 520px; */
  width: 1000px;
  border-radius: 20px;
}
.spot-description-container {
  margin-top: 200px;
  /* border: 1px solid firebrick; */
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.spot-description-text {
  /* border: 1px solid rgb(70, 34, 178); */
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin-bottom: 15px;
}
.spot-price-container {
  /* border: 1px solid firebrick; */
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  display: flex;
  align-items: center;
}
.spot-price-text {
  /* border: 1px solid rgb(70, 34, 178); */
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  /* margin: 10px; */
  font-weight: 500;
  margin-right: 6px;
}
/* .hosted-by-container {
  border: 1px solid firebrick;
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.hosted-by-text {
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  margin: 10px;
} */
