.spot-outer-container {
  width: 18em;
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.image-container {
  /* background-color: #efefef; */
  /* border: 2px solid black; */
  border-radius: 12px;
  height: 265px;
}
.spot-img {
  width: 100%;
  height: 265px;
  border-radius: 12px;
  object-fit: cover;
}

.spot-info-container {
  /* border: solid palevioletred 1px; */
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 10px 0px;
  width: 100%;
}
.spot-info {
  /* border: 1px rgb(63, 205, 181) solid; */
  /* display: flex;
  flex-direction: column; */
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0px;
  width: 100%;
}

.spot-location {
  /* border: 2px peru solid; */
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spot-price-container {
  /* display: flex;
  align-items: baseline; */
  /* border: 1px orange solid; */
  padding: 5px 0px;
}
.spot-price {
  font-weight: bold;
  padding-right: 3px;
}

.spot-review-data {
  /* border: 1px solid salmon; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 4px;
}

a {
  text-decoration: none;
  color: black;
}
