/* font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; */
.owner-spots-outer-container {
  /* border: 1px solid firebrick; */
  margin: auto;
  width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 80px;
}
.onwer-listing {
  /* border: 1px solid rgb(65, 34, 178); */
  margin: 5px 5px;
  font-size: 24px;
  font-weight: 600;
}
.owner-spots-inner-container {
  /* border: 1px solid rgb(90, 156, 33); */
  margin: 10px 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 80px;
}
.owner-spot-display {
  /* border: 1px dashed rgb(156, 33, 33); */
  margin: 5px 5px;
}
.owner-each-spot {
  /* border: 3px solid black; */
  margin-bottom: 35px;
  border-bottom: 1px solid rgb(170, 161, 161, 0.5);
}
.owner-spot-img {
  width: 650px;
  height: fit-content;
  margin: 5px 5px;
  padding: 5px 5px;
}
.owner-spot-img > img {
  width: 100%;
  border-radius: 20px;
}
.owner-spot-info {
  /* border: 1px dashed rgb(88, 33, 156); */
  margin: 5px 5px;
  padding: 5px 5px;
}
.owner-spot-name {
  /* border: 1px dashed rgb(33, 156, 74); */
  margin: 5px 5px;
  padding: 5px 5px;
}
.onwer-spot-city-state {
  /* border: 1px dotted gold; */
  margin: 5px 5px;
  padding: 5px 5px;
}
.owner-spot-price {
  /* border: 1px dotted rgb(212, 107, 108); */
  margin: 5px 5px;
  padding: 5px 5px;
}
