/* font-family:Circular,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif} */
.sessionUser-most-outer {
  /* border: 1px solid rgb(255, 85, 0); */
  width: 100%;
    display: flex;
  margin: auto;
   align-items: center;
}

.sessionUser-reviews-outer-container {
  /* border: 1px solid blue; */
  width: 1000px;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sessionUser-reviews-inner-container {
  /* border: 1px solid rgb(237, 148, 216); */
  margin: 10px 10px;
  width: 1000px;
}
.sessionUser-review-card {
  /* border: 1px solid rgb(68, 138, 35); */
  margin: 10px 0px;
}
.sessionUser-each-review {
  /* border: 1px solid rgb(186, 71, 9); */
  margin: auto;
  width: 1000px;
  display: flex;
  /* justify-content:space-around; */
  padding: 10px 10px;
  border-bottom: 1px solid rgb(218, 210, 210, 0.7);
}

.sessionUser-review-info {
  /* border: 1px rgb(68, 33, 139) dashed; */
  width: 600px;
  padding-right: 20px;
}
.sessionUser-review-details {
  /* border: 1px darkred dotted; */
  margin: 4px 4px;
  padding-bottom: 5px;
}
.delete-your-review {
  /* border: 1px hotpink dashed; */
  margin: 5px 5px;
  width: 180px;
  height: 60px;
  padding-left: 150px;
}
.delete-user-review-button {
  border: none;
  background-color: rgb(227, 28, 95);
  margin: auto;
  color: #eddbc3;
  border-radius: 5px;
  width: fit-content;
  margin: 2px;

  width: 200px;
  height: 30px;
  font-size: 17px;
}
