
.home-outer-container {
  border: 2px green solid;
  width: 100%;
}
.home-container {
  border: 2px red solid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
}
.inner-container {
  border: 3px black solid;
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.spots-display {
  border: 3px orange solid;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  /* width: 100%; setting width 100% break the*/
  place-items: center;
}

@media (min-width: 375px) {
  .spots-display {
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media (min-width: 744px) {
  .spots-display {
    padding-right: 45px;
    padding-left: 45px;
  }
}
@media (min-width: 980px) {
  .spots-display {
    padding-right: 45px;
    padding-left: 45px;
  }
}
@media (min-width: 1138px) {
  .spots-display {
    padding-right: 82px;
    padding-left: 82px;
  }
}
@media (min-width: 1606px) {
  .spots-display {
    max-width: none;
    padding-right: 82px;
    padding-left: 82px;
  }
}
