/* to do: add styling here */
.outer-nav {
  border: 2px black dashed;
  width: 100%;
}
.nav-container {
  border: 2px solid pink;
  margin: 0px 297px;
  padding: 0px 80px;
   /* width: 100%; */
}
.nav-bar {
  border: 1px solid blueviolet;
}
.session-links {
  border: 2px solid brown;
  display: flex;
  align-items: center;
}
.signup-button {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

@media (min-width: 760px) {
  /* To be added */
}
img {
  height: 50px;
  width: 90px;
}
