/* to do: add styling here */
.outer-nav {
  /* border: 2px black dashed; */

  display: flex;
  margin: auto;
  position: sticky;
  top: 11px;
  width: 100vw;
  height: 50px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(228, 228, 228);
  padding-bottom: 30px;
  padding-top: 10px;
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.nav-container {
  /* border: 2px solid purple; */
  /* margin: 0px 297px;
  padding: 0px 80px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 80%;
  padding-left: 50px;
  padding-right: 50px;
  height: 38px;
  margin: 0px auto;
  z-index: 1;
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.logo-anbnb {
  /* border: 1px seagreen dashed; */
  margin-top: 30px;
  width: 220px;
  height: 200px;
}
.session-links {
  /* border: 2px solid brown; */
  display: flex;
  align-items: center;
  width: 100%;
  height: 49px;
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
img {
  height: 47px;
  width: 77px;
}
.home-logo-container {
  margin: 1px;
}
.right-nav {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.host-your-spot {
  /* border: 1px solid greenyellow; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.create_a_spot {
  /* border: 1px solid hotpink; */
  margin: 4px;
  padding-right: 8px;
  font-size: 20px;
  font-weight: 500;
  /* font-family: sans-serif; */
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
.nav-welcome {
  /* border: 1px solid navy; */
  font-size: 20px;
  font-weight: 500;
  font-family: Circular, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
/* .signup-button {
  font-size: 16px;
  text-decoration: none;
  color: black;
} */
/* .login-button {
  margin: 15px;
  font-size: 16px;
} */
@media (min-width: 980px) {
  /* To be added */
}
